/* breakpoint for mobile portrait view */
@media only screen and (max-width: 600px) {
}

/* breakpoint for mobile landscape view */
@media only screen and (min-width: 600px) and (max-width: 1280px) {
}

/* breakpoint for laptop/desktop view */
@media only screen and (min-width: 1280px) {
}

/* css for all views  */
.mainContainer {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

.allCompsContainer {
  margin-top: 250px;
}

.singleCompContainer {
  display: flex;
  gap: 20px;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamName,
.teamScore {
  padding: 0px;
  margin: 0px;
}

.teamName {
  font-size: 50px;
  text-decoration: underline;
}

.teamScore {
  font-size: 100px;
}
