/* breakpoint for mobile portrait view */
@media only screen and (max-width: 600px) {
}

/* breakpoint for mobile landscape view */
@media only screen and (min-width: 600px) and (max-width: 1280px) {
}

/* breakpoint for laptop/desktop view */
@media only screen and (min-width: 1280px) {
}

/* css for all views  */
.mainContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width:25%;
  gap: 20px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  width: 25px;
  height: 25px;
}
