/* breakpoint for mobile portrait view */
@media only screen and (max-width: 600px) {
}

/* breakpoint for mobile landscape view */
@media only screen and (min-width: 600px) and (max-width: 1280px) {
}

/* breakpoint for laptop/desktop view */
@media only screen and (min-width: 1280px) {
}

/* css for all views  */
.mainContainer {
    display:flex;
    gap:10px;
    justify-content: flex-end;
    padding:20px 10px 20px 10px;
    border-bottom: 1px solid lightgray;
}

.navItem{
    font-family: arial;
}